{% extends "::layout/layout.html.twig" %}

{% block connection %}
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	    <a id="deco" href="{{ path('fos_user_security_logout') }}">
	        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
	    </a>
	{% else %}
	    <a id="deco" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
	{% endif %}
{% endblock %}