body {
	background-color: #333;
}

.container {
	
}
/***************style du cadre de navbar*******************/
.navbar {
	margin-top: 20px;
	height: 80px;
	padding-top: 5px;
	padding-bottom: 85px;
}

/***************style Bouton de menu*******************/
.nav-pills li a{
	margin-top: 20px;
}

.nav-pills li{
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}

#droit{
	/*display: none;*/
}

/***************Bouton de menu*******************/
#acce {
	background-color: #777;
	color : #E3E3E3;
}

#acce:hover {
	background-color: #373737;
	color : white;
}

#expo {
	background-color: #337ab7;
	color : #E3E3E3;
}

#expo:hover {
	background-color: #214F77;
	color : white;
}


#oeuv {
	background-color: #5cb85c;
	color : #E3E3E3;
}

#oeuv:hover {
	background-color: #3C783C;
	color : white;
}

#stat {
	background-color: #f0ad4e;
	color : #E3E3E3;
} 

#stat:hover {
	background-color: #B07F39;
	color : white;
} 

#util {
	background-color: #5bc0de;
	color : #E3E3E3;
} 

#util:hover {
	background-color: #41899E;
	color : white;
} 

#deco {
	background-color: #d9534f;
	color : #E3E3E3;
}

#deco:hover {
	background-color: #993B38;
	color : white;
}

/***************style image*******************/
.img-logo {

}