{# extends 'base.html.twig' #}
{% extends ':layout:layout.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Exposition creation
        </div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-danger" type="submit" value="Create" />
        {{ form_end(form) }}
        <ul id="btn_ul">
            <li id="btn_li">
                <a class="btn btn-info" href="{{ path('exposition_index') }}">Back to the list</a>
            </li>
        </ul>
    </dv>
{% endblock %}
